h2.emptyCart {
	text-align:center;
	margin-top:10%;
	margin-bottom:10%;
}

.bigger-glyph {
	/*padding-top:10%;*/
	font-size:2em;
	display:inline-block;
}

.btn-checkout {
	margin-top:7%;
	margin-bottom:10%;
}